@model UserManagement.MVC.Models.Narudzba

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Narudzba</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresaNarudzbe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresaNarudzbe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumNarudzbe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumNarudzbe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrijemePocetka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrijemePocetka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrijemeKraja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrijemeKraja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NarudzbaPotvrdjena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NarudzbaPotvrdjena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailNarucioca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailNarucioca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojTelefonaNarucioca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojTelefonaNarucioca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Radnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Radnik.RadnikId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usluga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usluga.UslugaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NarudzbaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
