@using UserManagement.MVC.Models
@model List<UserManagement.MVC.Models.UserRolesViewModel>
@{ ViewData["Title"] = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<style>
    .form-check-input {
        margin-left: 0 !important;
    }

    #forma {
        margin-bottom: 5px;
    }
</style>
<div class="container">
    <h1>Korisnici</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Email</th>
                <th>Uloge</th>
                <th>Aktivan</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
<tr>
    <td>@user.FirstName</td>
    <td>@user.LastName</td>
    <td>@user.Email</td>
    <td>@string.Join(" , ", user.Roles.ToList())</td>
    <td>
        <form id="forma" asp-action="Activate" asp-route-id="@user.UserId">
            <label class="switch mt-auto ml-auto">
                <input class="form-check-input mt-auto"
                       type="checkbox" @(user.isActive ? "checked" : "")
                       onChange="this.form.submit()">
                <span class="slider round mt-auto"></span>
            </label>
        </form>
    </td>
    <td>
        <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">Izmjena uloga</a>
    </td>
</tr>
}
        </tbody>
    </table>
</div>