@model UserManagement.MVC.Models.Usluga

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h3>Da li želite da obrišete uslugu?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NazivUsluge)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NazivUsluge)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CijenaUsluge)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CijenaUsluge)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Kategorija)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Kategorija.KategorijaId)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="UslugaId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Nazad na listu</a>
        </form>
    </div>
</div>